
@{
    ViewBag.Title = "Добавление поставщика";
}

<div>
    <h2>@ViewBag.Title.</h2>
    <form method="post" action="">
        <p>Введите название оргнанизации: </p>
        <input type="text" name="Name" />
        <p>Введите адресс:</p>
        <input type="text" name="Address" />
        <p>Введите информацию о поставщике:</p>
        <input type="text" name="Information" />
        <br />
        <br />
        <input type="submit" value="Добавить поставщика" />
    </form>
</div>


