
@{
    ViewBag.Title = "Введите уникальный идентификатор товара";
}
<div>
    <h2>@ViewBag.Title.</h2>
    <form method="post" action="">
        @Html.TextBox("delId")
        <input type="submit" value="ОК" />
    </form>
</div>


